---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro';
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-subtitle">ChatGPT</span>
    <span class="ml-1 text-xl op-60">3.5</span>
    {
      import.meta.env.GPT4_LINK
        ? (
        <a target="_blank" href={import.meta.env.GPT4_LINK} class="ml-4 text-sm b-1 px-2 py-1 rounded-md op-60">升级为GPT4.0</a>
          )
        : null
    }

  </div>
</header>
